html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 85%;
  float: left;
}

#nav{
	z-index:100;
  position: fixed;
  right: 0px;
  height: auto;
  width: 17%;
}

#nav li{
  text-align: center;
  width: 100%;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 4px;
  border-bottom: 3px solid grey;
}

#nav li:hover{
  background-color: grey;
}

input{
  position: fixed;
  left: 0px;
  z-index: 100;
  font-size:12px;
  height: 30px;
  width: 20%;
}

.infowin{
  font-size: 15px;
  font-family: Roboto;
}

input[type="text"]{
  font-size: 22px;
  font-family: Roboto;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
#nav li {
    font-size: 12px;
  }
input[type="text"]{
  font-size: 12px;
  font-family: Roboto;
  font-weight: bold;
  }
}