html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
}

.nav{
	z-index:100;
  position: absolute;
  top:0px;
  right: 0px;
  margin: 0px;
  height: auto;
}

.mainList
{
  margin: 0px;
}

.listItem{
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 4px 20px 4px 20px;
  border-bottom: 3px solid grey;
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
  margin: 0px;
}

.listItem:hover{
  background-color: grey;
}

input{
  position: fixed;
  left: 0px;
  z-index: 100;
  font-size:12px;
  height: 30px;
  width: 20%;
  box-shadow: 10px 10px 5px #888888;
}

.infowin{
  font-size: 15px;
  font-family: Roboto;
}

input[type="text"]{
  font-size: 22px;
  font-family: Roboto;
  font-weight: bold;
}

@media screen and (max-width: 700px) {

  #listItem {
      font-size: 12px;
    }

  input[type="text"]{
    font-size: 12px;
    font-family: Roboto;
    font-weight: bold;
    }
}